.cart-container {
  background: #fffcfc;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  width: 292px;
  padding: 21px 20px;
  border-radius: 31px;
}

.shop-image-container {
  width: 150px;
  height: 123 px;
  object-fit: contain;
}
.shop-name {
  text-align: center;
  color: white;
  background-color: #02334f;
  padding: 3% 0;
  font-size: 20px;
}
.shop-description {
  align-self: flex-start;
  font-size: 14px;
  padding-left: 9px;
  padding-right: 20px;
  height: 20px;
  align-items: center;
  display: flex;
  margin-top: 20%;
  margin-bottom: 20%;
  font-family: "Poppins";
}

.price-container {
  flex: row;
  align-items: center;
  gap: 10px;
  display: flex;
}

.btn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-top: 5%;
}
.yellow-btn {
  flex-direction: row;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #ffc029d4;
  padding: 10px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 80%;
}

.product-name {
  font-weight: 400;
  font-size: 15px;
  margin-top: 3%;
  margin-bottom: 3%;
}

.price {
  font-weight: bold;
  font-size: 15px;
  color: #0f4506;
}

.grand-total {
  font-weight: bold;
  font-size: 15px;
  color: #ff0e0e;
  text-decoration: line-through;
  text-decoration-color: black;
  text-decoration-thickness: 2px;
}

.rating-container {
  margin-top: 5%;
  flex-direction: row;
  justify-content: center;
  display: flex;
  align-items: center;
  gap: 4px;
}
