.sidebar-container {
  height: 91vh;
  width: 16vw;
  background-color: white;
  flex-direction: column;
  display: flex;
  gap: 40px;
  padding: 18px 42px;
  background-color: #fffcfc;
  position: fixed;
}

.row-container {
  flex-direction: row;
  display: flex;
  gap: 15px;
  align-items: center;
}

.row-container span {
  color: black;
  font-size: 15px;
  font-weight: 400;
}
